<script setup lang="ts"></script>

<template>
  <button class="button" v-bind="$attrs">
    <slot />
  </button>
</template>

<style scoped>
.button {
  position: relative;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.35));
  backdrop-filter: blur(4px);
  border-radius: 8px;
  border: none;
  padding: 20px 50px;
  font-size: 3.2rem;
  font-family: var(--base-font-family);
  color: var(--color-text-light);
  transition: all 0.1s ease-in-out;
  border: solid 4px none;
  outline: none;
  text-transform: uppercase;
}
.button::after {
  display: block;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  z-index: -1;
  background-image: linear-gradient(
    103.34deg,
    rgba(255, 65, 0, 0.8) 2.67%,
    rgba(255, 193, 0, 0.8) 85.13%
  );
}
.button:focus::after {
  background-image: linear-gradient(
    103.34deg,
    rgb(255, 64, 0) 2.67%,
    rgb(255, 193, 0) 85.13%
  );
  filter: brightness(1.2);
}
.button::before {
  display: block;
  content: "";
  position: absolute;
  inset: 0;
  transition: 0.2s inset ease;
}
.button:focus::before {
  inset: -4px;
  border-radius: 8px;
  z-index: -2;
  background-image: linear-gradient(
    176deg,
    rgba(255, 193, 0, 0.8) 50%,
    rgba(255, 65, 0, 0.8) 100%
  );
  filter: opacity(0.5);
}
.button:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.3));
}
.button:active {
  opacity: 0.8;
}
</style>
