<script setup lang="ts">
import iconGithub from "@/assets/icons/github.png";
import { computed } from "@vue/reactivity";

const props = defineProps<{
  icon: "github";
}>();
const iconPath = computed(() => props.icon);
</script>

<template>
  <img :src="iconGithub" />
</template>
