<script setup lang="ts">
import Button from "@/components/Button.vue";
import CvIcon from "@/assets/icons/cv.svg?component";
import GithubIcon from "@/assets/icons/github.png";
import GitlabIcon from "@/assets/icons/gitlab.png";
</script>

<template>
  <div class="home-view">
    <video
      class="home-view__background home-view__background--high"
      playsinline
      autoplay
      muted
      loop
      poster="https://res-console.cloudinary.com/duvmmmluk/thumbnails/v1/video/upload/v1639311864/UGV4ZWxzX1ZpZGVvc18yNjk5X3ZpZGVvLWNvbnZlcnRlci5jb21fdmN0emJ3/preview"
      id="bgvid"
    >
      <source
        src="https://res.cloudinary.com/duvmmmluk/video/upload/v1639311864/Pexels_Videos_2699_video-converter.com_vctzbw.webm"
        type="video/webm"
      />
    </video>
    Dmitriy Sulokhin<br /><br />
    <div>Frontend Developer</div>
    <a class="home-view__mail" tabindex="-1" href="mailto:profacorp@gmail.com">
      <Button class="home-view__button">mail me</Button>
    </a>
    <a
      href="https://drive.google.com/uc?export=download&id=1mWJUZLU0vRTogRWrvmIStjYhVnc6oHKz"
      download="download"
      class="home-view__link"
      target="_blank"
      >View CV <CvIcon class="home-view__svg"
    /></a>
    <div class="home-view__icons">
      <a href="https://gitlab.com/profacorp" target="_blank"
        ><img :src="GitlabIcon"
      /></a>
      <a href="https://github.com/dezmound" target="_blank"
        ><img :src="GithubIcon"
      /></a>
    </div>
  </div>
</template>

<style scoped>
@keyframes shadowDance {
  0% {
    text-shadow: 1px 1px 8px #000000a1;
  }
  50% {
    text-shadow: 1px 1px 2px #000000a1;
  }
  100% {
    text-shadow: 1px 1px 8px #000000a1;
  }
}
.home-view {
  position: relative;
  font-family: var(--seacondary-font-family);
  font-weight: 500;
  font-size: 48px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-light);
  text-shadow: 1px 1px 5px #000000a1;
  animation: 0 10s shadowDance;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.home-view__button {
  margin-top: 80px;
}
.home-view__background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-view__link {
  display: flex;
  align-items: center;
  color: var(--color-orange);
  margin-top: 40px;
  font-size: 0.5em;
  text-underline-offset: 8px;
  text-decoration: none;
  transition: 0.2s color ease;
  position: relative;
  outline-color: var(--color-orange);
  outline-width: 3px;
  outline-offset: 7px;
}
.home-view__link:hover {
  color: var(--color-light-accent);
}

.home-view__link:after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-light-accent);
  position: absolute;
  bottom: -8px;
}
.home-view__svg {
  width: 24px;
  margin-left: 8px;
  color: var(--color-light-accent);
}
.home-view__icons {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}
.home-view__icons img {
  max-width: 36px;
  image-rendering: pixelated;
}
</style>
