<script setup lang="ts">
import HomeView from "@/views/home/HomeView.vue";
</script>

<template>
  <HomeView />
</template>

<style>
:root {
  --base-font-family: "Yantramanav", sans-serif;
  --seacondary-font-family: "Raleway", sans-serif;
  --color-light: #fffaeb;
  --color-light-accent: #ffeaae;
  --color-orange-yellow: #ffd657;
  --color-orange: #ffc100;
  --color-orange-red: #ff8200;
  --color-red: #ff4100;
  --color-red-dark: #ff0000;
  --color-dark: #0a0903;
  --color-text-light: var(--color-light);
  --color-text-dark: var(--color-dark);
}
html {
  height: 100%;
}
body {
  font-family: var(--base-font-family);
  margin: 0;
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
</style>
